@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.content-area {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: clamp(20px, 4vw, 40px);
  text-align: center;
  padding: 2vw;
  font-weight: bold;
}

.text-area {
  border-radius: 25px;
  padding: 2vw;
  font-size: clamp(14px, 3vw, 24px);
}

.summarizeBtn {
  padding: 2vw;
  background-color: rgb(23, 159, 213);
  border-radius: 25px;
  margin-top: 2vw;
  font-size: clamp(14px, 3vw, 35px);
}
